build/
builddir/
buildinstall/
buildrel/
packaging/src/
packaging/pkg/
packaging/*.pkg.tar.*
packaging/*.tar.gz
__pycache__/
*.pyc
.secrets.env
.pytest_cache/
subprojects/
*.egg-info/
dist/
.eggs/
/timbre
docs/
uv.lock
branding/*
!branding/timbre-7-wordmark-stump.svg
CLAUDE.md
perf/
tests/
